  /* For desktop: */
  .col-1 {
      width: 8.33%;
  }

  .col-2 {
      width: 16.66%;
  }

  .col-3 {
      width: 25%;
  }

  .col-4 {
      width: 33.33%;
  }

  .col-5 {
      width: 41.66%;
  }

  .col-6 {
      width: 50%;
  }

  .col-7 {
      width: 58.33%;
  }

  .col-8 {
      width: 66.66%;
  }

  .col-9 {
      width: 75%;
  }

  .col-10 {
      width: 83.33%;
  }

  .col-11 {
      width: 91.66%;
  }

  .col-12 {
      width: 100%;
  }

  .nav-logo {
      text-align: left;
  }

  .nav-head h1 {
      text-align: right;
      margin: 0;
      padding-top: 16px;
  }

  .nav-manue {
      flex-direction: row;
      justify-content: flex-end;
  }

  .nav-manue a {
      background-color: transparent;
      padding: 10px;
      margin: 18px 8px;
  }

  /* card design */

  .cardimage img {
      height: 180px;
      width: 180px;
      margin-left: 30px;
      box-shadow: 8px 2px 15px rgb(233, 215, 215);

  }

  /* About design */
  .information {
      text-align: left;
      padding-top: 30px;
  }

  .information hr {
      margin: 15px 0px;

  }

  .profilepic img {
      margin-top: 100px;
  }

  /* Achivements contacts start from here */

  .achive-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 150px;
      padding: 30px;
  }

  .achive-button .btn {
      margin: 10px;
  }

  /* footer start here */
  .footer1st a {
      display: inline;
      margin: 10px;
  }